@import "virable/main_var";
@import "mixins/main_mixins";
@import "fonts";
@import "libre/grid";
@import "libre/main_libre";

$homeBanner-width: 1000px;

.homeBanner {
  max-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: relative;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  overflow: hidden;

  &__slider {
    position: relative;
    z-index: 100;

    &-item {
      position: relative;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      span, a {
        display: none;
      }
    }
  }

  &__text {
    position: absolute;
    top: 120px;
    width: 100%;
    margin: 0 auto;
    z-index: 200;
    @include _lg {
      max-width: 100%;
      padding: 0 $size-main-side-padding;
      text-align: center;
    }

    h1 {
      font-size: 45px;
      color: #ffffff;
      text-shadow: 2px 2px 5px #000000;
      text-transform: uppercase;
      padding-bottom: 30px;
      font-family: $font-medium;
      @include _lg {
        font-size: 35px;

      }
    }

    &-wrap {
      width: $homeBanner-width;
      margin: 0 auto;
      position: relative;
      @include _lg {
        max-width: 100%;
      }
    }
  }

  &__driver {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 200;
    @include _lg {
      max-width: 100%;
    }

    &-wrap {
      max-width: $homeBanner-width;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      @include _lg {
        max-width: 100%;
      }
    }

    &-block {
      background-color: $bg-second-opacity;
      color: #ffffff;
      padding: 0;
      font-size: 18px;
      display: flex;
      box-shadow: 0 0 4px #111111;
      @include _lg {
        width: 100%;
      }
    }

    &-info {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0 20px 20px;
      min-width: 350px;
      @include _lg {
        max-width: 100%;
        min-width: auto;
        box-sizing: border-box;
        margin-right: 0;
        flex-grow: 1;
        padding: 20px 20px 20px $size-main-side-padding;
      }

      & > div, a {
        display: flex;
        justify-content: space-between;
      }



      &-head {
        text-transform: uppercase;
        font-size: 14px;
        font-family: $font-bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div:first-child {
          flex-grow: 1;
        }
      }

      &-pagination {
        font-family: $font-light;
        position: relative;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 0;
        bottom: 0;
        left: 0;
        width: auto;
      }

      &-title {
        font-size: 24px;
        font-family: $font-light;
        flex-direction: column;
        color: $color-dop;
      }

      &-description {
        font-size: 15px;
        font-family: $font-light;
        color: #617190;
        display: flex;
        align-items: center;
        i {
          font-size: 4px;
          color: $color-dop;
          padding: 0 10px;
        }
      }

      a {
        font-family: $font-bold;
        font-size: 16px;
        &:hover {
          color: $color-dop;
        }
      }
    }

    &-select {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px solid #294262;

      i {
        font-size: 28px;
        color: #ffffff;
        padding: 35px;
        cursor: pointer;
        transition: 0.3s;
        user-select: none;

        &:hover {
          background-color: #294262;
          color: $color-dop;
        }

        @include _lg {
          font-size: 20px;
        }
      }

      &-next {
        border-bottom: 1px solid #294262;
      }

      &-prev {
        transform: rotate(180deg);
      }
    }
  }
}