@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/reset";
@import "fonts";
@import "libre/grid";
@import "libre/main_libre";

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: $bg-main;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  font-family: $font-regular;
  text-align: left;
  @include _md {
    font-size: 18px;
  }
}

svg, .icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  color: inherit;
}

#main {
  margin: $content-margin-top auto 0;
  color: $color-main;
  position: static;
  z-index: 50;
  background-color: $bg-main;
  flex: 1 0 auto;
  text-align: left;
  @include _lg {
    position: relative;
  }
  @include _xxl {
    padding: 0 $padding-main;
  }
  &> div, &> section {
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

section {
  margin: 0 auto;
}

#anchor {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.standardSection {
  max-width: $size-basic;
  padding: 40px $size-main-side-padding;
}

/* BLOCKS */

@import "btn";

@import "header";
@import "footer";

@import "home-banner";

@import "breadcrumbs";
@import "product-full";
