
// Grid Main Size
$size-basic: 1401px;
$size-xxl: 1401px;
$size-xl: 1201px;
$size-lg: 993px;
$size-md: 769px;
$size-sm: 577px;

$padding-main: 20px;

// Backgrounds
$bg-main: #ffffff;

// Colors
$color-main: #111111;

// Content
$content-margin-top: 0;
$content-margin-bottom: 67px;

// Footer
$footer-bg-main: #112d51;
$footer-color-main: #ffffff;
$footer-bg-second: #112d51;
$footer-color-second: #ffffff;
